/* .container-fluid {
  background-color: #cfced3;
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
  width: auto;
  align-items: center;
  display: flex;
} */

div {
  padding: 0.5em;
  flex: 1;
}

.aboutMe {
  background: #62acb5 !important;
  color: white;
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid grey;
  border-radius: 8px;
  border-color: grey;
  border-style: outset;
  /* margin: 5px; */
  /* width: auto; */
  /* height: auto; */
  /* display: flex;  */
  /* flex-direction: column; */
  /* padding: 5%; */
}

.project-header {
  text-align: center;
  border-bottom: white;
  text-shadow: 1px 1px 1px #3F3E44;
  font-family: "Homemade Apple", cursive;
  padding-top: 10px;
}
.me-bio {
  float: left;
  width: 100%;
  height: auto;
}

.about-me {
  text-transform: capitalize;
  font-size: 20px;
  color: #3f3e44;
}

.projects {
  background: #3f3e44;
  height: 100%;
  text-align: center;
  color: white;
  /* align-items: center; */
  /* width: auto;  */
  /* height: 100% !important; */
  /* display: flex; */
  /* flex-direction: column; */
}

.row-container {
  padding: 5px;
  background: white !important;
  margin: 0;
  /* align-items: center; */
  /* height: 100%; */
  /* width: auto; */
}
